<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <% include ../partials/header %>
    <% include ../partials/navsearch %>
    <script type="text/javascript">
    // Get input element
        let filterInput = document.getElementById('filterInput');
        // Add event listener
        filterInput.addEventListener('keyup', filterNames);

        function filterNames(){
          // Get value of input
          let filterValue = document.getElementById('filterInput').value.toUpperCase();

          // Get names ul
          let ul = document.getElementById('names');
          // Get lis from ul
          let li = ul.querySelectorAll('li.list-group-item');

          // Loop through list-group-item lis
          for(let i = 0;i < li.length;i++){
            let span = li[i].getElementsByTagName('span')[0];
            // If matched
            if(span.innerHTML.toUpperCase().indexOf(filterValue) > -1){
              li[i].style.display = '';
            } else {
              li[i].style.display = 'none';
            }
          }

        }
    </script>
  </head>
  <body class="bg-light">
  <div class="row">
    <div class="container">
        <div class="col-md-12">
          <br>
          <h1 class="text-center"><%= title %><i class="fa fa-pagelines" style="color:#29a329;" aria-hidden="true"></i></h1>
          <br>
          <br>
          <p class="text-center"><%= titleintro %></p>
          <br>
          <br>
        </div>
      </div>
    </div>
<ul id="names" class="list-group">
<div class="container">
  <div class="row">
  <div class="col-md-12">
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description %></p></span>
              <span><p class="card-text"><a href="http://maps.google.com/?q= 40 Zils Rd, Watsonville, CA 95076"><%= address %></p></a></span><br>
              <a href="tel:831-724-4137"><%= phone %></a>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business1 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description1 %></p></span>
              <p class="card-text"><%= address1 %></p>
              <a href="tel:831-722-1056"><%= phone1 %></a>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business2 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description2 %></p></span>
              <p class="card-text"><%= address2 %></p>
              <a href="tel:(831) 763-4401" class=""><%= phone2 %></a>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business3 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description3 %></p></span>
              <p class="card-text"><%= address3 %></p>
              <a href="tel:(831) 728-1965" class=""><%= phone3 %></a>
            </div>
          </div>
      </li>

      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business4 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description4 %></p></span>
              <p class="card-text"><%= address4 %></p>
              <a href="tel:(831) 786-0286" class=""><%= phone4 %></a>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business5 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description5 %></p></span>
              <p class="card-text"><%= address5 %></p>
              <a href="tel:(831) 761-9025" class=""><%= phone5 %></a>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business6 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description6 %></p></span>
              <p class="card-text"><%= address6 %></p>
              <a href="tel:(831) 763-4633" class=""><%= phone6 %></a>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business7 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description7 %></p></span>
              <p class="card-text"><%= address8 %></p>
              <a href="tel:(831) 761-0304" class=""><%= phone9 %></a>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business8 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description8 %></p></span>
              <p class="card-text"><%= address8 %></p>
              <a href="tel:(831) 763-2448" class=""><%= phone8 %></a>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business9 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description9 %></p></span>
              <p class="card-text"><%= address9 %></p>
              <a href="tel:(408) 472-1958" class=""><%= phone9 %></a>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <div class="card">
            <span><h5 class="card-header"><%= business10 %></h5></span>
            <div class="card-body">
              <span><p class="card-title"><%= description10 %></p></span>
              <p class="card-text"><%= address10 %></p>
              <a href="tel:(831) 726-9008"><%= phone10 %></a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card">
              <span><h5 class="card-header"><%= business11 %></h5></span>
              <div class="card-body">
                <span><p class="card-title"><%= description11 %></p></span>
                <p class="card-text"><%= address11 %></p>
                <a href="tel:(800) 871-3333" class=""><%= phone11 %></a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="card">
                <span><h5 class="card-header"><%= business12 %></h5></span>
                <div class="card-body">
                  <span><p class="card-title"><%= description12 %></p></span>
                  <p class="card-text"><%= address12 %></p>
                  <a href="tel:(831) 713-7230" class=""><%= phone12 %></a>
                </div>
              </div>
            </li>
      </div>
    </div>
    <br>
  </div>
  </ul>
    <% include ../partials/footer %>
    <% include ../partials/js %>
  </body>
</html>
